body{
    background-image: url("../images/spiration-light.png");
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
}
html{
    margin:0;
    padding:0;
    height:100%
}
header{
    width: 100%;
    overflow: auto;
    clear: both;
    background: #fff;
    border-bottom:1px solid #666;
}
.container{
    margin:auto;
    width:960px;
    background-color:#fff;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.name{
    Position:relative;
    padding:20px;
    background-color:#4aaaa5;
    float:left;
    color:#fff;
    font-weight:bold;   
}
.nav{
    float:right;
}
nav ul{
    margin:0px;
    padding: 0 0 0 15px;
}
nav ul li{
    display:inline-block;
    list-style-type: none;
    padding: 5px 15px;
    
}
nav ul li a{
    color:#777;
    text-decoration-style: none;
    text-align:center;
    text-decoration-style: none;
}
.clearfix::after{
    content: "";
    display:block;
    clear:both;
}
.title{
    text-align:left;
    color:#4aaaa5;
    
}
/*.container{clear:both;
    margin:auto;
   width:960px;
    float:none;
    background-color:#fff;
    /*T R B L*//*
    margin:10px 0px 30px 0px;
    overflow:auto;
}*/
#photo{
   float:left;
  
   padding-left:5px;
   position: relative;
}
#main-content{ 
   
    line-height:0.5in;
}
footer{
    clear:both;
    Position:fixed;
    bottom: 0;
    width:100%;
    background-color:#999;
    color:white;
    text-align:center;
    padding: 20px; 
    margin: 0;
    border-top: 10px solid #4aaaa5;
    display:block;
}